*,
::after,
::before {
  box-sizing: border-box;
}

/* Fuente Mukta de google */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');

html {
  font-size: 100%;
}

:root {

  /* Estilado de sombras extraído de biblioteca */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: #f0f4f8;
  font-family: 'Mukta', Sans-Serif;
  font-weight: 400;
  line-height: 1.75;
  color: #102a43;
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,h2,h3,h4,h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: 'Mukta', Sans-Serif;
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: 1px;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: 0.875rem;
}

a {
  text-decoration: none;
  letter-spacing: 1px;
}
a,
button {
  line-height: 1.15;
}
button:disabled {
  cursor: not-allowed;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  cursor: pointer;
  color: #fff;
  background: #17034e;
  border: transparent;
  border-radius: 0.25rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-2);
  transition: 0.3s ease-in-out all;
  text-transform: capitalize;
  display: inline-block;
  margin-top: 20px;
}
.btn:hover {
  background: #6628f7;
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: #17034e;
  background: rgb(102, 40, 247);
}
.btn-hipster:hover {
  color: #6628f7;
  background: #6628f7;
}
.btn-block {
  width: 100%;
  margin-top: 20px;
}
.btn-hero {
  font-size: 1.25rem;
  padding: 0.5rem 1.25rem;
}
.btn-danger {
  background: #f8d7da;
  color: #842029;
}
.btn-danger:hover {
  background: #842029;
  color: #fff;
}
/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: 0.25rem;
  text-align: center;
  letter-spacing: 1px;
}

.alert-danger {
  color: #842029;
  background: #f8d7da;
}
.alert-success {
  color: #0f5132;
  background: #d1e7dd;
}
/* form */

.form {
  width: 90vw;
  max-width: 500px;
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
  transition: 0.3s ease-in-out all;
}
.form:hover {
  box-shadow: var(--shadow-4);
}
.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  background: #f0f4f8;
  border: 1px solid #bcccdc;
  margin-bottom:20px
}
.form-area{
  height: 100px;
}
.form-input,
.form-select,
.btn-block {
  height: 35px;
}
.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 100px;
}
::placeholder {
  font-family: inherit;
  color: #829ab1;
}
.form-alert {
  color: #842029;
  letter-spacing: 1px;
  text-transform: capitalize;
}
/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid #829ab1;
  border-radius: 50%;
  border-top-color: #17034e;
  animation: spinner 2s linear infinite;
}
.loading-center {
  margin: 0 auto;
}

.title {
  text-align: center;
}

.title-underline {
  background: #17034e;
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}

.container {
  width: 90vw;
  max-width: 1120px;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-top: 30px;
}
.full-page {
  min-height: 100vh;
}

.coffee-info {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}
.coffee-info span {
  display: block;
}
.coffee-info a {
  color: #17034e;
}

@media screen and (min-width: 992px) {
  .coffee-info {
    text-align: left;
  }
  .coffee-info span {
    display: inline-block;
    margin-right: 0.5rem;
  }
}

