.exerciseCard{
    list-style: none;
    font-size: 2rem;
    text-align: center;
}

.exerciseCard:hover{
    opacity: 0.8;
}

.exerciseImage{
    border-radius: 10px;
    background-color: aliceblue;
}