.detailsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.col {
    margin: 15px;
    height: auto;
    height: 80%;
}

.title {
    text-align: center;
    margin: 0 auto;
}

.exerciseImage {
    border-radius: 15px;
    width: 500px;
    height: 300px;
}

.exerciseDetails {
    font-size: 1.5rem;
}

.firstItem {
    margin-top: 0;
}

.list {
    text-decoration: underline;
}

.list li {
    margin-left: 30px;
    list-style-type: disc;
}

.videoCont {
    position: relative;
}

.video {
    margin-bottom: 40px;
    margin-top: auto;
    position: absolute;
}

.backLink {
    text-align: center;
    position: absolute
}

.icon {
    vertical-align: sub;
}

.btnContainer {
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    display: flex;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 0px 15px 15px 15px;
    border-radius: 15px;
    position: relative;
    box-shadow: var(--shadow-2);
    transition: 1s;
    text-decoration: none;
}

.btn:hover{
    background: #6628f7;
    box-shadow: var(--shadow-2);
}