.exerciseGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    /*para que se distribuyan de 230px hasta completar el ancho*/
    gap: 40px;
    padding: 40px;
    justify-content: center;

}