.container {
  background-color: rgba(102,40,247, 0.2);
  width: 100%;
  text-align: center;
  padding: 100px;
  background: linear-gradient(to bottom left, rgb(96, 96, 255), rgba(102,40,247, 0.2));
}

.lineUp{
  height: 15px;
  width: 100%;
  background-color: #17034e;
  position: absolute;
}

.FloatText{
  margin-bottom: 30px;
}

.formArea{
  height: 100px;
}
